{% load i18n admin_urls static admin_modify admin_static %}
<div class="case_inspector">
    <div class="card horizontal">
        <div class="card-image">
          <img class="activator" src="{% static 'admin/images/irfan1.jpg' %}" width="200" height="200">

        </div>
        <div class="card-stacked">

            <div class="card-content">
                <span class="card-title">তদন্ত কর্মকর্তা</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
</div>
