<div class="card">
    <div class="card-content">
        <div class="card-title">
            case info
        </div>
        <table class="striped highlight responsive-table">
            <tbody>
                <tr>
                  <th>Case No</th>
                  <td>{{case.case_no}}</td>
                </tr>
                <tr>
                  <th>Case Type</th>
                  <td>{{case.case_type}}</td>
                </tr>
                <tr>
                  <th>Case Status</th>
                  <td>{{case.status}}</td>
                </tr>
                <tr>
                  <th>Case Details</th>
                  <td>{{case.details}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
